main {
  width: 100%;
  padding: 32px;
  color: white;
  text-align: center;
  padding: 32.5px;
}

h1 {
  font-size: 4em;
  margin-top: 14px;
  margin-bottom: 20px;
}

.hero {
  height: 50px;
}
p {
  vertical-align: baseline;
  font-family: sans-serif;
  line-height: 2;
  letter-spacing: 1px;
}
.sttBtn {
  cursor: pointer;
  border: solid 1px white;
  border-radius: 25px;
  position: relative;
  margin: 30px auto;
  height: 42px;
  width: 117px;
  padding: 18;
  margin: 35px auto;
}
