* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0828cc;
  border: calc(var(--body-border-width, 20px) * 1 / 1 + 0px) solid transparent;
  overflow: hidden;
}
